
<div id="dialog-message" style="font-size:x-large;display:none;" title="Download complete">
    <p>
        <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
        Your files have downloaded successfully into the My Downloads folder.
    </p>
    <p>
        Currently using <b>36% of your storage space</b>.
    </p>
</div>


<div id="dialog-Confirm" style="font-size:x-large;display:none;" title="Confirm">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>


<div id="showMap" style="display:none;">

</div>

<div id="Detaildialog" style="display:none;" Width="500" Height="610"> </div>

<div id="Framedialog" style="display:none;">
</div>

<div id="spinner" style="display:none;">
    <img src="~/Assets/assets/Images/loading.gif" style="width:50px;height:50px;">
</div>


<div id="ShowModelxs" style="display:none;" Width="500" Height="200"> </div>

<div id="ShowModelmd" style="display:none;" Width="500" Height="610"> </div>

<div id="ShowModellg" style="display:none;" Width="1000" Height="1000"> </div>

<div id="ShowModel" class="showModel" style="display:none;overflow-y:auto;z-index:1000;"> </div>

<div id="ShowModel1" style="display:none;overflow:hidden;"> </div>