@*<button type="button" id="btn_file_ONE" CounterFile="1" fileID="fileUploada" class="btn btn-primary" style="width:100px;"><i class="fa fa-upload"></i>  @Html.LKWText("UPLOAD")</button>
    <input type='file' id='fileUploada' accept=".jpeg,.jpg,.png,.gif,.tif" style="position:absolute;display:none;" name="file" />*@


<!--<div class="col-md-4">
    <button type="button" id="btn_file_ONE" CounterFile="1" fileID="fileUploada" class="form-control input-md"><i class="fa fa-upload"></i></button>
    <input type='file' id='fileUploada' accept=".xls,.xlsx" style="position:absolute;display:none;" name="file" />-->
    @* <span class="FileNamCls" style="margin-top:7px;">File Name</span>*@
<!--</div>-->

<button type="button" class="btn btn-warning btn-md "><span class="fa fa-arrow-down m-r-10"></span> @Html.GSText("Download_Template")</button>
<button type="button" class="btn btn-success btn-md " id="btn_Excel_Upload"><span class="fa fa-upload m-r-10"></span> @Html.GSText("Upload_Template")</button>
<input type='file' id='ExcelUploada' accept=".xls,.xlsx" style="position:absolute;display:none;" name="Excelfile" />
