<div class="form-group">
    <label class="col-sm-4 control-label">@Html.GSText("TH01_FILES")</label>
    <div class="col-sm-8">
        <div class="file-attachment-section">
            <div class="div-upload-file">
                <input type="file" class="form-control-file" id="fileInput" accept=".doc,.pdf,.docx,.xls,.xlsx,.jpeg,.jpg,.png,.gif,.tif,.pptx" multiple>
            </div>
            <div id="fileList"></div>
        </div>
    </div>
</div>