<div class="form-group">
    <label for="inputEmail3" class="col-sm-4 control-label">@Html.ResourceText("FilePath")</label>
    <div class="col-sm-8">
        <button type="button" id="btn_file" CounterFile="1" fileID="fileUploada" class="btn btn-primary"><i class="fas fa-upload"></i>  Upload Files</button>
        <input type='file' id='fileUploada' style="position:absolute;display:none;" name="file" />
    </div>
</div>
